<section class="justify-content-center mt-4">
  <div class="container align-content-center">
    <div class="container-cards">

      <div class="card-login" style="background-color: #47bcd4;">
        <div class="card-body">
          <form action="/auth/login" method="POST">
            <div class="container">
              <div class="row p-2">
                <div class="col">
                  <h3>Log in</h3>
                  <p class="mb-2">and start exploring</p>
                </div>
              </div>
              <div class="row p-2">
                <div class="col">
                  <label>Username</label>
                  <input class="form-control" type="text" name="username" placeholder="username" />
                </div>
              </div>
              <div class="row p-2">
                <div class="col">
                  <label>Email</label>
                  <input class="form-control" type="email" name="email" placeholder="email" />
                </div>
              </div>
              <div class="row p-2">
                <div class="col">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" placeholder="password" />
                </div>
              </div>
              <div class="row p-2">
                <div class="col">
                  <button class="btn btn-dark" type="submit">Log in</button>
                </div>
              </div>
              <div class="row p-2">
                <div class="col">
                  {{#if errorMessage}}
                  <p class="error">{{errorMessage}}</p>
                  {{/if}}
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>