{{!-- index image + overlay --}}
<section class="justify-content-center">
  <div class="overlay">
    <h1 class="display-2">Outbackers</h1>
    <h1 class="h1">Making backpacking easy</h1>
    </div>
    <img class="d-block" src="https://images.unsplash.com/39/vsSIIQbXTHCO1jBsKm4Q_IMG_1779_edt.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80" alt="Third slide" style="width: 100%; height:800px; object-fit:cover">
</section>

{{!-- search for services --}}
<section class="justify-content-center" style="background-color: #47bcd4;">
  <div class="container align-content-center">

      <h2 class="mb-2">Where do you want to go?</h2>
      <p class="mb-2">We’ve put together this page so that you can find exactly what you’re looking for.</p>
      <div class="container-cards">
        <div class="card-index">
          <div class="card-header">
            <img src="https://images.pexels.com/photos/7968283/pexels-photo-7968283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
          </div>
          <div class="card-body mb-3 p-4" style="color: #f7f7ff;">
            <h2 class="mb-4">Housing opportunities</h2>
            <p class="mb-4">Whatever your budget, there is no shortage of places to sleep while traveling. The good news is if you are willing to become a little more resourceful and modify the way you travel, you’ll discover there are lots of ways to get free accommodation around the world. </p>
            <span><a href="/services?serviceType=Housing" class="tag p-3 rounded-pill" style="background-color: #f7f7ff;">Search</a></span>
          </div>
        </div>

        <div class="card-index">
          <div class="card-header">
            <img src="https://images.pexels.com/photos/5191491/pexels-photo-5191491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
          </div>
          <div class="card-body mb-3 p-4" style="color: #f7f7ff;">
            <h2 class="mb-4">Job opportunities</h2>
          <p class="mb-4">Do you want to travel the world long-term or forever? Here is where we’ll help you to earn money on the road, and on the go so that you can travel for as long as you want.</p>
          <span><a href="/services?serviceType=Job" class="tag p-3 rounded-pill" style="background-color: #f7f7ff;">Search</a></span>
          </div>
        </div>
      </div>

  </div>
</section>

{{!-- look for recommendations --}}
<section class="justify-content-center" style="background-color: #FF842B;">
  <div class="container align-content-center">
    <div class="container-cards">
      <div class="card-recom">
        <div class="card-header" style="color: #0d2237;">
          <h2 class="mb-2">Recommendations</h2>
          <p class="mb-4">When travelling you mostly rely on fellow travellers' experiences and ideas. This is the place to share them! Tell the rest of the community which places you would recommend and which you would avoid. Your opinion counts!</p>
          <a href="/recommendations" class="tag p-3 rounded-pill" style="background-color: #f7f7ff;">Recommendations</a>
        </div>
      </div>
      <div class="card-recom">
        <div class="card-header">
          <img src="https://images.pexels.com/photos/2227960/pexels-photo-2227960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
        </div>
      </div>
      <div class="card-recom">
        <div class="card-header">
          <img src="https://images.pexels.com/photos/324028/pexels-photo-324028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
        </div>
        <div class="card-body" style="  color: #0d2237;">
    </div>
  </div>
</section>

{{!-- footer --}}
<section class="justify-content-center mb-5" style="background-color: #0d2237;">
  <div class="container align-content-center">
    <div class="container-cards">

      <div class="card-footer">
        <div class="card-header text-center" style="color: #e0eaf4;">
          <h2 class="mb-2">Ironhack</h2>
          <p class="mb-4">Project Module 2</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-header text-center" style="color: #e0eaf4;">
          <h3>Rudolf Teibtner</h3>
          <h6>Ironhack | Web Development</h6>
          <p>Germany</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-header text-center" style="color: #e0eaf4;">
          <h3>Thalita dos Reis</h3>
          <h6>Ironhack | Web Development</h6>
          <p>Switzerland</p>
        </div>
    </div>
  </div>
</section>