<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Outbackers</title>

  {{!-- bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

  {{!-- date range picker --}}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{!-- nav bar --}}
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="https://cdn-icons-png.flaticon.com/512/71/71423.png" alt="Logo" width="30" height="25" class="d-inline-block align-text-top" />Outbackers</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-lg-0">

            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="/services">Services</a></li>
            <li class="nav-item"><a class="nav-link active" href="/recommendations">Recommendations</a></li>

          </ul>

          {{#if userDetails}} 
          {{!-- dropdown menu --}}
            <li class="nav-item"><li class="nav-item dropdown p-3">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
              
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/services/create">New Service</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/recommendations/create">New Recommendation</a></li>
            </ul>
          </li>

          <li class="nav-text"> Welcome back {{userDetails.email}} |</li>

          <a class="btn btn-default navbar-btn" aria-current="page" href="/auth/logout">Logout</a>
          {{else}}
          <span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li>
                <a class="btn btn-default navbar-btn" aria-current="page" href="/auth/signup">Signup</a> |
              </li>
              <li>
                <a class="btn btn-default navbar-btn" aria-current="page" href="/auth/login">Login</a>
              </li>
            </ul>
          </span>
          {{/if}}
          
      </div>
    </nav>
</header>

  {{{body}}}


  {{!-- bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  {{!-- date range picker --}}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <script src="/js/script.js"></script>
</body>

</html>