* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d2237;
}

section {
  display: flex;
}

h1 {
  margin: auto;
}

/* error message */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: white;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* containers */
.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

/*container on edit views*/
.container-edit{
  margin-top: 100px;
}

.carousel-inner img {
  width: 100%;
  height: 40%;
}


/* icons size */
svg {
  width: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}