* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* index page sectioning design */
.inner {
    --padding-horizontal: 5rem;
    --padding-vertical: 10rem;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

/* create-edit forms */
.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.form .container {
  width: 800px;
}

/* error message */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: white;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* containers */
.container {
  margin-top: 50px;
}