<section>
    <div class="container mt-5" style="color: #f7f7ff;">
        <h2 class="mb-2">Take a look at other backpackers' recommendations</h2>

        <div class="container-cards mt-4">
            {{#each recommendations}}
                <div class="card">
                    <div class="card-header p-0">
                        <img src="{{image}}" alt="default image" />
                    </div>
                    <div class="card-body">
                        <h4>{{title}}</h4>
                        <p class="card-text">Country: {{country}}</p>
                        <span class="tag tag-teal"><a href="/recommendations/{{_id}}" >More Details</a></span>
                    </div>
                </div>
            {{/each}}
        </div>
    
    </div>
</section>